@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><i>The UCT Food Outlets page is a central place to manage all the new UCT food vendors.</i></p>

<h4>The food trucks are located:</h4>
    <ul>
    <li>Outside the Menzies building</li>
    <li>Between Neville Alexander and Leslie buildings</li>
    <li>Outside the Health Sciences building</li>
    <li>On Middle Campus near the School of Dance</li>
    </ul>
