@{
    ViewBag.Title = "Contact";
}
<br/>
<p>
<img src="https://i1.wp.com/littleveganbear.com/wp-content/uploads/2015/09/cookiemonster.jpg" />
</p>

<address>
    University of Cape Town<br />
    Rosebank, Cape Town <br/>
    <abbr title="Phone">P:</abbr>
    021 222 3454
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SUSWIN001@myuct.ac.za">SUSWIN001@myuct.ac.za</a><br />
    <strong>Very Much Support:</strong> <a href="mailto:BRNKIM011@myuct.ac.za">BRNKIM011@myuct.ac.za</a><br/>
    <strong>Dont even think about it:</strong><a href="mailto:JNSMAR043@myuct.ac.za">JNSMAR043@myuct.ac.za</a>
</address>