@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:red">FeedMe </h1>
    <p class="lead">Eat, sleep, review, repeat.</p>
    <p><a href="http://www.uct.ac.za" class="btn btn-primary btn-lg">Whats UCT? &raquo;</a></p>
    <p>UCT is a University in Cape Town, South Africa. We are FeedMe and we are here to help you have a great gastronomic experience on our campus. </p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1654.6621742073296!2d18.460782171855158!3d-33.958501924262215!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1524586289452" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
